html.bcbb-theme {

  body {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  }

  img {
    max-width: 100%;
    max-height: auto;
  }

  .bcbb-header {
    background-color: $colorBrand-primary;
    border-bottom: px-em(2px) solid $colorBrand-secondary;
    color: rgba($colorWhite, 0.9);
  }

  main {
    color: $colorText-primary-alpha;

   

    p {
      line-height: 1.6;
    }

    a:not(.btn, .button) {
      color: $colorTextLink;
      transition: color 0.25s ease;
      &:hover,
      &:focus {
        color: $colorTextLink-hover;
      }
      &:active,
      &:visited {
        color: $colorTextLink-variant;
      }
    }

    h1,
    .h1 {
      font-size: $fontSize-h1;
    }
  
    h2,
    .h2 {
      font-size: $fontSize-h2;
    }
  
    h3,
    .h3 {
      font-size: $fontSize-h3;
    }
  
    h4,
    .h4 {
      font-size: $fontSize-h4;
    }
  
    h5,
    .h5 {
      font-size: $fontSize-h5;
    }
  
    h6,
    .h6 {
      font-size: $fontSize-h6;
    }

    table {
      width: 100%;
    }
  
  }

  footer,
  .footer {
    background-color: $colorBrand-primary;
    border-top: px-em(2px) solid $colorBrand-secondary;
    color: rgba($colorWhite, 0.9);
    a {
      color: $colorTextLink-darkmode;
      &:hover,
      &:focus {
        color: mix($colorWhite, $colorTextLink-darkmode, 40%);
      }
      &:active,
      &:visited {
        color: $colorTextLink-darkmode-variant;
      }
    }

  }


  /*
  input[list],
  input[type='date'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='month'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  textarea,
  select {
    font-size: px-em(calc($defaultFont-size*.9));
    padding: .33em .66em;
  }
  */

  kbd {
    white-space: nowrap;
  }
}
