html.bcbb-theme {

  body {
    font-family: 'BCSans', 'Calibri', Arial, sans-serif;
  }

  img {
    max-width: 100%;
    max-height: auto;
  }

  .bcbb-header {
    background-color: $colorBrand-primary;
    border-bottom: px-em(2px) solid $colorBrand-secondary;
    color: rgba($colorWhite, 0.9);
    > div {
      padding-bottom: 1.35em;
    }
  }

  main {
    color: $colorText-primary-alpha;



    p {
      line-height: 1.6;
    }

    a:not(.btn, .button, .page-link) {
      color: $colorTextLink;
      &:hover,
      &:focus {
        color: $colorTextLink-hover;
      }
      &:active,
      &:visited {
        color: $colorTextLink-variant;
      }
    }

    h1,
    .h1 {
      font-size: $fontSize-h1;
      font-weight: 700;
    }

    h2,
    .h2 {
      font-size: $fontSize-h2;
    }

    h3,
    .h3 {
      font-size: $fontSize-h3;
    }

    h4,
    .h4 {
      font-size: $fontSize-h4;
    }

    h5,
    .h5 {
      font-size: $fontSize-h5;
    }

    h6,
    .h6 {
      font-size: $fontSize-h6;
    }

    table {
      width: 100%;
    }

  }

  footer,
  .footer {
    background-color: $colorBrand-primary;
    border-top: px-em(2px) solid $colorBrand-secondary;
    color: rgba($colorWhite, 0.9);
    a {
      color: $colorTextLink-darkmode;
      &:hover,
      &:focus {
        color: mix($colorWhite, $colorTextLink-darkmode, 40%);
      }
      &:active,
      &:visited {
        color: $colorTextLink-darkmode-variant;
      }
    }

  }

  kbd {
    white-space: nowrap;
  }
}
