// mixins

@mixin responsive($size: $sm-min) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin responsive-down($size: xs-max) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

// Extend an existing styles colour scheme
// takes 3 arguments
@mixin ext-color-scheme (
  $background: $colorBrand-primary, 
  $border: $colorAccent-primary, 
  $color: rgba($colorWhite, 0.9)
  ) {
  background-color: $background;
  border-color: $border; 
  color: $color;
}


// convert hex to rgb
// this requires a function to work
//@mixin rgb ($color) {hex-rgb($color)}
