{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @ingroup themeable
 */
#}
<div class="d-flex justify-content-between align-items-start mb-2 bcbb-facet-result">
  
  {% if is_active %}
    <div class="ms-n5">
      <span class="facet-item__value js-facet-deactivate icon-bi-x-circle pe-2" aria-label="{{ 'remove facet'|t }}">{{ value }}</span>
    </div>
    {% else %}
    <span class="facet-item__value pe-2">{{ value }}</span>
  {% endif %}
    
  {% if show_count %}
    <span class="badge badge-facet rounded-pill text-bg-dark">{{ count }}</span>
  {% endif %}
  
</div>
