.book-navigation {
  border-top: 1px solid $colorBrand-secondary;
  margin: 1.5em 0 0;
  padding: 1.5em 0;
}

ul.bb-nav-book {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    li {
      a {
        display: flex;
        height: 100%;
        align-items: center;
      }
      &:first-child {
        a {
          justify-content: flex-start;
          text-align: start;
        }
      }
      &:last-child {
        a {
          justify-content: flex-end;
          text-align: end;
        }
      }
    }
}

.block-book-navigation {
  @include responsive() {
    margin-top: 3.5em;
  }
}
