// Search

.badge-facet {
  min-width: 4em;
}

.bcbb-search-sidebar {
  .bcbb-facet-result {
    @include responsive-down($lg-max) {
      > * {
        max-width: 50%;
      }
    }
  }
}
.facets-widget-links {
  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: $colorTextLink !important;
  }
  a:hover,
  a:focus,
  a:focus-within {
    text-decoration: underline;
  }
}


.bcbb-search-wrapper {

 .view-site-search {
  .form-actions {
   @extend .d-grid;
   @extend .gap-2;
   @extend .d-lg-flex;
   input {
    @extend .btn;
    @extend .btn-light;
    @extend .btn-sm;
    @extend .m-0;
   }
  }
  .form-type-checkbox {
    margin-top: .125em;
   }
 }

 .bcbb-current-search-facets {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .25em 1.5em;
  align-items: flex-start;
  justify-content: flex-start;
    li {
      flex-basis: content;
    }
  li.facet-summary-item--clear {
    margin-left: -1.5em !important;
    a {
      @include icon-cancel($colorWhite);
      background-position: .5em center;
      background-repeat: no-repeat;
      background-size: 1em 1em;
      text-decoration: none;
    }
    a,
    a:active,
    a:visited {
      background-color: $colorAlert-error;
      transition: background-color 0.15s ease-in-out;
      color: $colorWhite;
      border-radius: var(--bs-border-radius-pill) !important;
      padding: .15em .75em .15em 2em;
      text-decoration: none;
    }
    a:hover,
    a:focus,
    a:focus-within {
      background-color: #711b18;
    }
  }
  @include responsive($lg-min){
    flex-direction: row;
  }
 }

  .block-region-sidebar-bottom {
    @extend .bcbb-dividers;
  }
  .vbo-info-list-wrapper {
    h3 {
      @extend .h5;
    }
  }

  .search-bb-search-block {
    .views-exposed-form {
      .form--inline {
        @include responsive($lg-min) {
          display: flex;
        }
        .form-item-search-api-fulltext {
          width: 100%;
        }
        .form-actions {
          text-align: right;
          white-space: nowrap;
          > button {
            margin: 0;
          }
        }
      }
    }
  }

}

// grid layout for search results
.search-bb-container {

  @include responsive($lg-min) {
    display: grid;
    grid-template-columns: 7fr 1fr 4fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "search-block . sidebar-right"
      "results      . sidebar-right"
      "results      . sidebar-right"
  }

}

.search-bb-search-block {
  grid-area: search-block;
}

.search-bb-results {
  grid-area: results;
}

.search-bb-sidebar-right {
  grid-area: sidebar-right;
}



// search block in the header region

.block-bcbb-search {

  //reset spacing
  * {
    padding: 0;
    margin: 0;
  }
  position: relative;
  .btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0;
    border-radius: 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius) 0;
    color: $colorWhite;
    background-color: $colorBrand-secondary-a11y;
    border-color: $colorBrand-secondary-a11y;
    &:hover,
    &:focus {
      background-color: mix($colorBrand-secondary-a11y, $colorBlack, 85%);
      border-color: mix($colorBrand-secondary-a11y, $colorBlack, 85%);
    }
  }
}
