// Search

.badge-facet {
  min-width: 4em;
}
// search block on search page
.block-views-exposed-filter-blocksite-search-block-1 {
  >form {
    .form--inline {
      display: flex;
      //needs responsive fix
      flex-direction: column;
      align-items: flex-end;
      .form-item {
        margin-right: 0;
        width: 100%;
      }
      @include responsive($md-min) {
        flex-direction: row;
        .form-item {
          margin-right: 0.5em;
          width: auto;
        }
        .form-actions {
          flex-basis: 15em;
        }
      }
      .form-actions {
        margin-top: 0;
      }
      .button:first-child {
        margin-right: .125em;
      }
      .button:last-child {
        margin-left: .125em;
      }
    }
  }
}


// search block in the header region

.block-bcbb-search {

  //reset spacing
  * {
    padding: 0;
    margin: 0;
  }
  position: relative;
  .btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    border-radius: 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius) 0;
    color: $colorWhite;
    background-color: $colorBrand-secondary-a11y;
    border-color: $colorBrand-secondary-a11y;
    &:hover,
    &:focus {
      background-color: mix($colorBrand-secondary-a11y, $colorBlack, 75%);
      border-color: mix($colorBrand-secondary-a11y, $colorBlack, 75%);
    }
  }

}
